body, html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #C9E4CA;
  font-size: 16px;
  line-height: 20px ;
}

.image-background {
  background-image: url(images/da7f5zc-16354477-853f-481c-b82e-8f6074265fb5.gif);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  animation: fadeIn 20s forwards 3s;
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: auto 100%;
}

.rotate:hover {
  animation-name: rotate;
  animation-duration: 0.7s;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.container {
  /* opacity: 0; */
  animation: fadeOut 18s forwards;
  width: 700px;
}

h1, h2, h3 {
  font-family: 'Varela', sans-serif;
}

h1, h3 {
  color: #87BBA2;
}

h2 {
  color: #55828B;
}

a {
  text-decoration: none;
}

a:hover {
  color: #3B6064;
  background-color: #67b3bb;
}

.card-blue {
  background-color: #3B6064;
  /* width: 700px; */
  margin: 15px auto;
  padding: 15px;
  text-align: center;
  box-shadow: 5px 5px 10px black;
  border-radius: 40px;
}

.image-circle {
  width: 200px;
  box-shadow: 5px 5px 10px black;
  border-radius: 50px;
  margin-bottom: 20px;
}

.btn-green {
  background-color: #364958;
  color: #ffffff;
  margin-top: 20px;
  padding: 20px 20px;
  box-shadow: 5px 5px 10px black;
  border-radius: 5px;
}

.description {
  margin-bottom: 40px;
}

.top-card {
  padding-bottom: 50px;
}

.bottom-card {
  padding: 5px;
}

p {
  text-align: center;
}

.list-inline > li {
  display: inline-block;
  margin: 10px;
}

.fa-brands {
  font-size: 50px;
  color: #C9E4CA;
  box-shadow: 5px 5px 10px black;
}

.fa-brands:hover {
  color: #3B6064;
  background-color: #67b3bb;
}

ol {
  list-style: inside;
  line-height: 30px;
}

/* @media (max-width: 960px) {
  .container {
    width: 600px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 400px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
} */
